@import url('https://fonts.googleapis.com/css2?family=Ruslan+Display&family=Russo+One&display=swap');

:root{
    --card-backgraund:linear-gradient(90deg, rgb(255, 218, 85) 0%, rgb(191, 125, 141) 100%);
    --main-backgraund:linear-gradient(270deg, rgb(205.86, 171.82, 226.58) 17.78%, rgb(255, 255, 255) 65.83%);
    --header-backgraund:linear-gradient(90deg, rgb(255, 218, 85) 0%, rgb(133, 41, 189) 100%);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Ruslan Display", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.common-text{
    margin-top: 12px;
    padding-left: 24px;
    padding-right: 24px;
    font-family: "Russo One", sans-serif;
    font-weight: 400;
    font-style: normal;
}
section{
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: center;
    background: var(--main-backgraund);
}

.info-card{
    padding-bottom: 12px;
    background: var(--card-backgraund);
}

header{
    position: fixed;
    height: 48px;
    top: 0;
    width: 100%;
    padding: 0 72px;
    display: inline-flex;
    justify-content: space-between;
    align-content: center;
    background: var(--header-backgraund);
}

.content{
    position: relative;
    padding: 12px 72px;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-content: center;
}

h2{
    top: 16px;
    position: relative;
    font-size: 48px;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
}

.logo{
    position: relative;
    height: 48px;
}

.info .common-text{
    padding: 16px 32px;
}

.contacts{
    height: 48px;
    justify-content: space-between;
    position: relative;
    align-items: center;
    align-content: center;
}

.big-logo{
    margin-top: 48px;
    height: 100%;
    clip-path: inset(20px 400px 10px 0 round 0px);
    margin-right: -250px;
}


header .navigation{
    padding: 10px;
    height: 27px;
    margin-right: 50px;
}
header .navigation a{
    display: inline-flex;
    background: #8529BD;
    color: #FFDA55;
    text-decoration: none;
    letter-spacing: 1px;
    padding: 2px 15px;
    height: 27px;
    border-radius: 16px;
    font-size: 16px;
    background-size: 27px;
    justify-content: center;
    align-items: center;
}

header .navigation a:last-child{
    color: #8529BD;
    background: #FFDA55;
}

.find-party-button{
    align-self: center;
    max-width: 660px;
    display: flex;
    background: #8529BD;
    color: #FFDA55;
    text-decoration: none;
    letter-spacing: 1px;
    padding: 2px 15px;
    height: 74px;
    border-radius: 74px;
    font-size: 36px;
    background-size: 74px;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.main-page .main-action-button {
    align-self: center;
    margin-top: 28px;
    justify-content: center;
    text-align: center;
    align-items: center;
    align-content: center;
    justify-items: center;
}
.main-page{
    margin-top: 88px;
    justify-content: center;
    text-align: center;
}

footer{
    padding-bottom: 0;
    background: var(--header-backgraund);
    bottom: 0;
    margin-bottom: 0;
    height: 43px;
}

.reuse-section{
    margin-left: 72px;
    margin-right: 72px;
    align-content: center;
    justify-content: center;
    justify-items: center;
    display: flex;
}

.title-card{
    align-self: center;
    background: var(--card-backgraund);
    width: 560px;
    height: 73px;
    margin: 24px;
    padding-bottom: 18px;
}

.info-cards-grid{
    margin-left: 48px;
    margin-right: 48px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 24px;
    grid-auto-rows: minmax(100px, auto);
}

.about-us-info-card{
    padding: 24px;
    align-content: center;
    text-align-all: center;
    margin: 24px;
    font-size: 20px;
    background: var(--card-backgraund);
}

.list-cards-grid{
    margin-left: 72px;
    margin-right: 72px;
    display: grid;
    grid-template-columns: 1fr 9fr 1fr;
    grid-auto-rows: minmax(100px, auto);
    grid-column-gap: 24px;
}

.footer-grid{
    height: 43px;
    margin-left: 72px;
    margin-right: 72px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.text-footer{
    padding-top: 12px;
    height: 43px;
    text-align: center;
    font-size: 16px;
}

.text-footer:last-child{
    text-align: right;
}

.text-footer:first-child{
    text-align: left;
}

.last-frame {
    height: 521px;
    width: 100%;
    background-image: url("https://images.unsplash.com/photo-1650024520252-14bdf7a3f312?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-size: 150%;
    background-position-x: +100%;
    background-position-y: +50%;
    background-repeat:no-repeat;
    direction: rtl;
    align-content: center;
}

.last-group{
    align-content: center;
    margin-right: 72px;
}

.last-title{
    padding-top: 12px;
    position: relative;
    background: var(--card-backgraund);
    font-size: 40px;
    width: 464px;
    height: 70px;
    margin: 0;
}

.last-button{
    background: #FFDA55;
    border-radius: 24px;
    width: 464px;
    height: 52px;
    margin-top: 64px;
}
.last-button a{
    border-radius: 24px;
    width: 464px;
    height: 52px;
    color: #8529BD;
    font-style: normal;
    text-decoration: none;
    letter-spacing: 1px;
    padding-right: 8px;
    padding-left: 8px;
    padding-top: 12px;
    font-size: 32px;
}

.icons-column{
    color: black;
    font-size: 60px;
    margin-top: 24px;
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: minmax(100px, auto);
}

.icons-column a{
    color: black;
    width: 80px;
}

.icons-column:last-child a{
    justify-self: flex-end;
}

@media (max-width: 1024px) {


    header{
        height: 72px;
        justify-content: space-between;
    }

    header .navigation{
        justify-content: right;
        height: 72px;
        margin-right: 0;
        padding-right: 0;
    }

    header .navigation a{
        height: 47px;
        font-size: 14px;
        justify-content: right;
    }

    header .logo{
        height: 72px;

    }

    header .contacts{
        display: none;

        margin-left: -400px;
    }
    
    .big-logo{
        margin-right: -350px;
    }
    
    .title-card{
        width: 463px;
    }

    .last-button{
        width: 350px;
        height: 95px;
        align-content: center;
    }

    .last-button a{
        width: 350px;
        height: 95px;
        padding-left: 12px;
        padding-right: 12px;
    }

    .last-title{
        height: 68px;
        width: 350px;
    }

    .text-footer{
        margin-right: 12px;
        margin-left: 12px;
    }
    
    footer{
        height: 60px;
    }

    .last-frame{
        height:500px;
    }

    @media (max-width: 920px) {

        .last-button{
            width: 312px;
            height: 82px;
        }

        .last-button a{
            width: 312px;
            height: 82px;
            font-size: 30px;
        }

        .last-title{
            height: 58px;
            font-size: 36px;
            width: 312px;
        }

        .about-us-info-card{
            margin-left: 0;
            font-size: 18px;
            padding: 22px;
            margin-right: 0;
        }
        
        .icons-column:last-child{
            display: none;
            margin: -1000px;
        }

        .list-cards-grid{
            grid-template-columns: 1fr 13fr;
        }

        .last-frame{
            height:484px;
        }


    }

    @media (max-width: 860px) {

        .about-us-info-card{
            font-size: 16px;
            padding: 18px;
        }

        .last-frame{
            height:402px;
        }

    }


    @media (max-width: 780px) {

        .last-frame{
            height:364px;
        }


        header .navigation a{
            font-size: 12px;
            padding-right: 2px;
            padding-left: 2px;
        }
        .big-logo{
            display: none;
            margin-right: -1000px;
        }

        .footer-grid{
            height: 25px;
            grid-template-columns: repeat(2, 1fr);
        }

        .text-footer{
            margin: 0;
            font-size: 12px;
            height: 30px;
        }

        .text-footer#id-2{
            text-align: right;
        }

        .text-footer#id-3{
            text-align: left;
        }

        .last-button{
            width: 268px;
            height: 82px;
        }

        .last-button a{
            width: 268px;
            height: 82px;
            font-size: 28px;
        }

        .last-title{
            font-size: 32px;
            width: 268px;
            height: 50px;
        }


    }

    @media (max-width: 660px) {
        header .navigation a:not(:last-child){
            display: none;
            margin-right: -100px;
        }

        .last-frame{
            height:312px;
        }

        .last-button{
            width: 224px;
            height: 82px;
        }

        .last-button a{
            width: 224px;
            height: 68px;
            font-size: 22px;
        }

        .last-title{
            height: 46px;
            font-size: 26px;
            width: 224px;
        }

    }

    @media (max-width: 560px) {

        .last-frame{
            height:298px;
            display: block;
            direction: unset;
            justify-content: space-around;
            align-content: center;
        }

        .last-group{
            width: 20%;
            margin-left: 40%;
            margin-right: 40%;
            direction: unset;
            display: grid;
            grid-template-columns: 1fr;
            place-self: center;
            align-items: center;
            align-content: center;
            justify-content: center;
            justify-items: center;

        }

        .last-button{
            margin-top: 8px;
            width: 224px;
            height: 82px;
            margin-bottom: 82px;
        }

        .last-button a{
            width: 224px;
            height: 68px;
            font-size: 22px;
        }

        .last-title{
            height: 46px;
            font-size: 26px;
            width: 224px;
        }

        .about-us-info-card{
            font-size: 14px;
            padding: 14px;
        }

        .title-card{
            align-content: center;
            height: 45px;
            width: 245px;
        }

        .title-card h2{
            height: 45px;
            font-size: 32px;
        }

        header{
            height: 42px;
            padding-left: 20px;
            padding-right: 20px;
        }

        .info-cards-grid{
            margin-right: 20px;
            margin-left: 20px;
        }

        .list-cards-grid{
            margin-right: 20px;
            margin-left: 20px;
        }
        
        .list-cards-grid .icons-column{
            font-size: 32px;
            grid-auto-rows: minmax(40px, 80px);
        }

        .list-cards-grid .icons-column a{
            width: 32px;
            height: 30px;
        }

        .footer-grid{
            margin-right: 20px;
            margin-left: 20px;
        }

        .content{
            justify-content: unset;
            padding: 0;
        }

        .main-page{
            margin-top: 42px;
        }


        .info-card h2{
            font-size: 30px;
        }

        .common-text{
            font-size: 14px;
            text-align: justify;
        }

        .find-party-button{
            height: 32px;
            font-size: 26px;
            margin-right: 20px;
            margin-left: 20px;
        }

        .main-page .main-action-button{
            margin-top: 0;
            padding-top: 4px;
            padding-bottom: 6px;
            background: var(--card-backgraund);
            height: 36px;
        }

        header .logo{
            height: 42px;
        }

        header .navigation{
            height: 42px;
        }

        header .navigation a{
            height: 19px;
        }

        .text-footer{
            font-size: 12px;
        }

        @media(max-width: 420px) {

            .last-button{
                width: 236px;
                height: 50px;
            }

            .last-button a{
                width: 206px;
                height: 50px;
                font-size: 20px;
                padding-left: 20px;
                padding-right: 20px;
                text-align: center;
            }

            .last-title{
                padding-top: 8px;
                align-self: center;
                height: 30px;
                font-size: 17px;
                width: 180px;
            }


            .last-frame{
                height:264px;
            }

            .about-us-info-card{
                font-size: 12px;
                padding: 10px;
            }

            .title-card{
                align-content: center;
                height: 24px;
                width: 152px;
            }

            .title-card h2{
                height: 24px;
                font-size: 15px;
            }

            .info-card h2{
                font-size: 22px;
            }

            .common-text{
                font-size: 10px;
            }

            .find-party-button{
                font-size: 18px;
                height: 28px;
            }

            .text-footer{
                font-size: 10px;
            }

            @media(max-width: 320px) {

                .last-button{
                    width: 216px;
                    height: 38px;
                }

                .last-button a{
                    width: 216px;
                    height: 38px;
                    font-size: 16px;
                    padding-right: 14px;
                    padding-left: 14px;
                    padding-top: 6px;
                }

                .last-title{
                    padding-top: 4px;
                    height: 24px;
                    font-size: 15px;
                    width: 152px;
                }

                .last-frame{
                    height:214px;
                }

                header .navigation a{
                    font-size: 10px;
                }

                .about-us-info-card{
                    font-size: 10px;
                    padding: 8px;
                }
                
                .find-party-button{
                    font-size: 14px;
                }
                
                .text-footer{
                    font-size: 8px;
                }
            }

        }

    }

}
